NEXT_PUBLIC_LOCALE="mt"
NEXT_PUBLIC_API_URL="http://localhost:8000/api"
NEXT_PUBLIC_APP_URL="https://local.homologacao.regulav2.lais.ufrn.br:3000"

NEXTAUTH_SECRET="j/J+JSYRzG1vK/FFtg9Cz+cMDuayfJ2NP863CfuH478="
NEXTAUTH_URL="https://local.homologacao.regulav2.lais.ufrn.br:3000"
AUTH_GOVBR_CLIENT_ID="api.homologacao.regulav2.lais.ufrn.br"
AUTH_GOVBR_AUTHORIZATION_URL="https://sso.staging.acesso.gov.br/authorize"
