NEXT_PUBLIC_LOCALE="mt"
NEXT_PUBLIC_API_URL="http://localhost:8000/api"
NEXT_PUBLIC_APP_URL="https://local.homologacao.regulav2.lais.ufrn.br:3000"

NEXTAUTH_SECRET="cMdzXzV4stFbs8lucaMBUu9IMbXcqWGRw77tlf5yEaw="
NEXTAUTH_URL="https://local.homologacao.regulav2.lais.ufrn.br:3000"

OAUTH_CLIENT_ID="api.homologacao.regulav2.lais.ufrn.br"
